body{
    background-color: rgb(155, 155, 155);
}

/* Barra superior */
.rw-1{
    height: 5vh;
    background-color: rgb(207, 207, 207);
    border-radius: 5px 5px 0px 0px;
}   

.cl-1, .cl-2{
    align-self: center;
    font-weight: bold;
}

.imgcl-1{
    width: 20px;
    height: 20px;
}

/* Barra inferior, Navbar */
nav{
    border-radius: 0px 0px 5px 5px ;
}

.navbar{
    height: 7vh;
}

h2{
    color: white;
}

.h2left{
    color: #408ec5;
    width: 40px;
    text-align: right;
    background-color: white;
    border-radius: 50%;
}

.nv-menu, .nv-user{
    background-color: rgb(24, 106, 173);
    height: 7vh; 
    width: 4vw;
    text-align: center;
    padding-top: 10px; 
}

.nv-user{
    width: 3vw;
}

.nv-it-1{
    width: 7vw;
    display: flex;
    margin-left: 15px;
    padding-left: 5px;
    justify-content: center;
    cursor: pointer;
}

.nv-lk-1{
    color: white;
}

.nv-it-1:hover{
    background-color: white;
    color: black;
}

.imgnav{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.divimgnav, .divimgnav2, .divimgnav3, .divimgnav4, .divimgnav5{
    width: 20px;
    height: 20px;
    margin-right: 0px;
}

.dropdown-menu{
    background-color: rgb(90, 89, 89);
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: rgb(59, 59, 59);
    color: white;
}

.imgmenu{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.divimgnav{
    background-image: url('../img/homehover.png');
    background-size: cover;
}

.nav-item:hover .divimgnav{
    background-image: url('../img/home.png');
}

.divimgnav2{
    background-image: url('../img/message_icon.png');
    background-size: cover;
}

.nav-item:hover .divimgnav2{
    background-image: url('../img/message_icon_hover.png');
}

.divimgnav3{
    background-image: url('../img/setting_icon.png');
    background-size: cover;
}

.nav-item:hover .divimgnav3{
    background-image: url('../img/setting_icon_hover.png');
}

.divimgnav4{
    background-image: url('../img/graduation_cap_icon.png');
    background-size: cover;
    margin-right: -5px;
}

.nav-item:hover .divimgnav4{
    background-image: url('../img/graduation_cap_icon_hover.png');
    margin-right: -5px;
}

.divimgnav5{
    background-image: url('../img/plane_icon2.png');
    background-size: cover;
}

.nav-item:hover .divimgnav5{
    background-image: url('../img/paper_plane_icon_hover.png');
}

/* Esta parte corresponde al navbar collapsado */
.navbar-collapse.collapse.show{
    background-color: #4ca8eb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.navbar-collapse.collapse.show .nv-it-1{
    justify-content: start;
}

.navbar-collapse.collapse.show .nv-text{
    display: contents;
    text-align: center;
}

.navbar-collapse.collapse.show .nv-menu, .navbar-collapse.collapse.show .nv-icon, .navbar-collapse.collapse.show .divimgnav, 
.navbar-collapse.collapse.show .divimgnav2, .navbar-collapse.collapse.show .divimgnav3, 
.navbar-collapse.collapse.show .divimgnav4, .navbar-collapse.collapse.show .divimgnav5 {
    display: none;
}

.navbar-collapse.collapse.show form{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-left: 5px;
}

.navbar-collapse.collapse.show .nv-user{
    width: auto;
    grid-column: 3 / 4;
}

.navbar-collapse.collapse.show .dropdown-menu{
    position: absolute;

}
/* ---------------------------------------------------
Media querys */

@media (max-width: 1075px){
    .rw-1{
        display: none;
    }
}
